<?xml version="1.0"?>

<!-- see http://www.phpunit.de/wiki/Documentation -->
<phpunit bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="main">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
